
/* css for hamburger menu ends here */

/*@media only screen and (max-width: 768px) {*/
  /* For mobile phones: */

  	#main{
  		width: 100%;
  	}
	.hamburger{
		display: block;
	}
	.slideup, .slidedown {
		max-height: 0;
		overflow-y: hidden;
		-webkit-transition: max-height 0.5s ease-in-out;
		-moz-transition: max-height 0.5s ease-in-out;
		-o-transition: max-height 0.5s ease-in-out;
		transition: max-height 0.5s ease-in-out;
  	}
	.slidedown{
		max-height: 350px;
	}
  	#main .mainNav{
		width: 100%;
		overflow: hidden;
	}
	#main .mainNav ul li{
		width: 100%;
	}
	#main .mainNav ul li a{
		display: block;
	}
	#main .header .topNav{
		width: 100%;
		text-align: center;
		float: none;
	}
	#main .header .cart{
		float: none;
		text-align: center;
		width: 100%;
		padding-top: 85px;
	}
	#main .header .cart a span{
		float: none;
	}
	#main .header .cart a img{
		float: none;
	}
	#main .header .logo{
		margin-top: 30px;
	}
	#main .header .search{
		float: none;
		text-align: center;
		margin: 20px auto 0 auto;
	}
	#main .header .search form{
		margin: 0;
		padding: 0;
		display: inline-block;
	}
	#main .footer .copyright{
		padding: 10px 0;
	}



	/*shopping cart*/

	#main .colTwo{
		float: left;
		width: 100%;
		padding: 50px;
	}

	#main .colOne{
		width: 100%;
		margin: 0px;
	}
	#main .callout-table{
		width: 100%;
	}
	#main .mainContent{
		margin: 0px;
		width: 100%;
		display: contents;
	}
	#main .color{
		background: #ffbf31;
	}
	.callout-border
	{
		width: 100%;
	}
	/*Register*/

	#main .registerPage{
		width: 100%;
		padding: 0px;
	}

	.loginPageLeft{
		padding: 0px;
	}

	.loginPageLeft,
	.loginPageForm,
	.loginPageForm form input{
		width: 100%;
		height: 100%;
	}
	.loginPageLeft img{
		width: 150px;
		height: 150px;
	}
	.loginBtn{
		padding: 0px;
	}

	.registerPageLeft,
	.registerPageForm,
	.registerPageForm form input{
		width: 100%;
		height: 100%;
	}
	.registerPageLeft img{
		width: 150px;
		height: 150px;
	}
	.registerBtn{
		width: 100% !important;
		height: 100%;
		float: none !important;
	}


/*order detail*/

.colOne-order{
	width: 100%;
	margin: 0px;
	clear: both;
}

.colTwo-order{
	width: 100%;
	clear: both;
	margin: 0px;
}

.table-border td{
	display: block;
	margin: 0px auto;
	padding-left: 150px;
}
	/*profile*/

@media only screen and (max-width: 556px) {
  
	.right{
		clear: both;
		margin: 50px 10px;
		float: none;
		text-align: center;
	}
	.left{
		width: 100%
	}
	.profile-detail .profile-content ul.detail-profile li{
		width: 100%;
	}
}

/*checkout*/

.checkoutPage .checkoutContainer .billingDetails .bd_left,
.checkoutPage .checkoutContainer .billingDetails .bd_right{
	clear: both;
	width: 100%;
	padding: 20px 0px ;
}
.bd_shipping_form input,
.bd_shipping_form select{
	width: 100%;
}

.checkoutPage .checkoutContainer .orderDetails{
	width: 100%;
	margin: 0px auto;
	display: block;
}
/*contact*/

.contactPage{
	width: 100%;
}
.contactPage{
	width: 100%;
}
.contactPage h1{
	width: 100%;
}
.contactPage .address{
	width: 100%;
}
.contactPage .address a{
		width: 100%;
}

.contactPage .contactForm{
	width: 100%;
	padding: 0px;
	padding-top: 300px;
	background: #e9eef2;
	background: url(../images/icon-contact.jpeg) no-repeat 50% 5%;
}
.contactPage .contactForm input, .contactPage .contactForm textarea{
	 width: 100%;	
}
.contactPage .contactForm input.submitBtn{
	width: 100%;
}

/*search*/

}

.searchForm input{
	width: 100%;
}


/*product show*/

.exzoom .exzoom_img_ul_outer{
	width: 100%;
}
.exzoom .exzoom_img_box{
	width: 100%;
}
.exzoom {
	width: 100%;
	margin: 50px;
}
.productDescription{
	width: 100%;
}
#main .productDetails .productImages{
	width: 100%;
}
#main .productDetails .productDescription{
	width: 100%;
}
#main .productDetails .productDescription h1{
	width: 100%;
}
#main .productDetails .productDescription h2{
	width: 100%;
	font-weight: bold;
	font-size: 20px;
}
#main .productDetails .productDescription p{
	width: 100%;
}

#main .productDetails .productDescription .addToCart{
	width: 100%;
}
#main .productDetails .productDescription .prodDes{
	width: 100%;
}
#main .productDetails .productDescription .prodDes p{
	width: 100%;
}

/*product index page*/

.floatLeft{
	clear: both;
}
.filters{
	width: 100%;
}

.mainContent .filters h2{
	text-align: center !important;
	margin: 0px !important;
}
.filters ul li a{
	font-size: 16px;
}
.productRow{
	width: 100%;
}

.productItem{
	margin-left: 80px; 
	width: 100%;
}

.productItem p a.yellowButton {
	width: 100%;
}

.productItem h3{
	font-size: 20px;
	font-weight: bold;
}
/*Reset password*/

.resetPasswordLeft{
	clear: both;
	width: 100%;
	padding: 20px;
}

.resetPasswordForm{
	clear: both;
	width: 100%;

}
 .resetPassword{
	padding: 0px ;
}

.resetPasswordForm form input{
	width: 100%;
}
.resetPasswordForm form .resetPasswordBtn{
	width: 100%;
	border-radius: 10px;
}

/*index css*/
#main .mainContent .rowTwo .callout a .collout-span span{
	font-size: 16px;
	font-weight: bold;
}

#main .mainContent .rowOne .calloutCenter,
#main .mainContent .rowOne .calloutLeft,
#main .mainContent .rowOne .calloutRight{
	width: 100%;
	padding: 0px;
	margin: 0px;
}
#main .mainContent .rowOne .calloutCenter{
	border: 10px solid #fc3;
}

#main .mainContent .rowOne .calloutCenter span,
#main .mainContent .rowOne .calloutLeft span,
#main .mainContent .rowOne .calloutRight span{
	font-weight: bold;
	font-size: 20px;

}
#main .mainContent .rowTwo .callout{
	width: 100%;
	padding: 0px;
	margin: 0px;
}