/* Responsiveness CSS Starts here */
/* css for hamburger menu starts here */
/*hamburger hidden for desktop*/

#main{
	position: relative;
	background: #fff;
}
.hamburger{
	display: none;
	position: absolute;
	right: 10px;
	top: 165px;
	cursor: pointer;
	z-index: 5;
}
.bar1, .bar2, .bar3 {
	width: 35px;
	height: 5px;
	background-color: #333;
	margin: 6px 0;
	transition: 0.4s;
}
.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {
	opacity: 0;
}
.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}
.namePro {
	font-size: 1.0em;
}
.callout .product_background img{
	border: 2px solid #fc3;
}

/*desktop*/
body{
	margin: 0; 
	padding: 0; 
	background: #fff; 
	font-family: 'Roboto', sans-serif; 
	font-size: 16px; 
	line-height: 18px; 
	color: #000; 
}
#main{
	width: 960px;
	margin: 0 auto;
	background: #fff;
}
img{
	max-width: 100%;
}
div{
	box-sizing: border-box;
	max-width: 100%;
}
.col-md{
	padding: 0px !important;
}
.clearFix{
	clear: both; 
	height: 0px; 
	margin: 0; 
	padding: 0; 
	overflow: hidden;
}
#main .header{
	position: relative; 
	padding: 10px 0 20px 0; 
	overflow: hidden;
}
#main .header .logo{
	position: absolute; 
	left: 50%; 
	margin-left: -101px; 
	margin-top: 20px;
}
#main .header .topNav{
	float: right; 
	font-size: 14px;
}
#main .header .topNav ul{
	margin: 0; 
	padding: 0; 
	list-style: none; 
}
#main .header .topNav ul li{
	margin: 0; 
	padding: 0 0 0 15px; 
	list-style: none; 
	display: inline;
}
#main .header .topNav ul li a{
	color: #000; 
	text-decoration: none;
}
#main .header .topNav ul li a:hover{
	color: #000; 
	text-decoration: underline;
}
#main .header .cart{
	float: right; 
	margin: 10px 0 0 0;
}
#main .header .cart a{
	color: #000; 
	text-decoration: none; 
	font-size: 16px;
}
#main .header .cart a img{
	display: inline;
	margin: 0; 
	float: left;
}
#main .header .cart a span{
	display: inline; 
	margin: 2px 5px 0 0; 
	float: left; color: #aaa;
}
#main .header .search {
	float: right; 
	margin: 20px 0 0 0;
}
#main .header .search .searchTxt{
	height: 25px; 
	margin: 0; 
	box-sizing: border-box; 
	float: left; 
	border: 1px solid #bbb; 
	border-right: none; 
	padding: 2px 5px; 
	font-size: 14px; 
	outline: none;
}
#main .header .search .searchBtn{
	margin: 0; 
	float: left; 
	background: url(../images/icon-search.jpg) no-repeat; width: 25px; height: 25px; border: 1px solid #bbb; border-left: none; cursor: pointer;
}
#main .mainNav{
	background: #000;
}
#main .mainNav ul{
	margin: 0; 
	padding: 0; 
	list-style: none; 
	text-align: center;
}
#main .mainNav ul li{
	margin: 0; 
	padding: 0; 
	list-style: none; 
	display: inline;
}
#main .mainNav ul li a{
	text-decoration: none; 
	color: #fff; 
	font-weight: bold; 
	font-size: 18px; 
	padding: 15px 30px; 
	display: inline-block;
}
#main .mainNav ul li a:hover,
#main .mainNav ul li a.current{
	color: #ffbf31;
}
#product-list ul li a.current {
	color: #1d68a7;
    text-decoration: underline;
}
#main .searchBar {
	background: #eeeeee;
	line-height: 3em;
}
#product-list {
	width: 100%;
	min-height: 600px;
}
.filters {
	width: 30%;
}
.filters ul {
	list-style-type: none;
}
.products {
	width: 70%;
}
.yellowButton {
	color:#000;
	background:#ffbf31;
	padding: 0.8em 2em;
	font-weight: 700;
	max-width: 100%;	
}

.searchForm .yellowButton{
	padding:0;
	line-height: 28px;
	border:2px solid #ffcc33;
	border-radius: 4px;
	padding: 0px 12px 0px 12px;
	max-width: 100%;
}
.searchForm input{
	line-height: 25px;
}

.roundCorners {
	border-radius: 10px;
}
.productRow {
	max-width: 100%;
	margin: 12px;
}
.productItem {
	width: 31%;
	float: left;
	margin-bottom: 2em;
	text-align: center;
	border: 1px solid
	#ddd;
	box-shadow: 2px 3px 4px
	#ccc;
	margin-right: 1em;
	padding-bottom: .5em;
	max-width: 100%;
	border-radius: 5px;
}
.productItem  img{
	width:180px;
	height: 160px;

}
.productItem p a.yellowButton {
	margin-bottom: 3em;
	text-decoration: none;
}
#main .mainContent h2{
	margin-top: 10px;
	padding: 0px 0;
	font-size: 22px;
	color:#ffbb25;
	font-weight: bold;
	text-align: center;
	max-width: 100%;
}
#main .mainContent .rowOne img{
	width: 100%;
}
#main .mainContent .rowOne .calloutLeft, #main .mainContent .rowOne .calloutRight{
	width: 21%;  
	float: left; 
	position: relative;
}
#main .mainContent .rowOne .calloutCenter{
	width: 58%; 
	float: left; 
	background: #ffbb25; 
	position: relative; 
	padding: 10px 15px;
}
#main .mainContent .rowOne .calloutLeft span, 
#main .mainContent .rowOne .calloutRight span, 
#main .mainContent .rowOne .calloutCenter span{
	position: absolute; 
	font-size: 22px; 
	color: #000; 
	font-weight: bold; 
	text-align: center; 
	display: block; 
	margin-top: 30px; 
	width: 100%; 
	text-shadow: 3px 7px 35px #000000;
}
#main .mainContent .rowOne .calloutCenter span{
	margin-top: 80px;
}
#main .mainContent .rowTwo .callout{
	width: 31%; 
	float: left; 
	margin: 8px;
	margin-bottom: 30px;
	border: 10px solid #ffcc33;
	background: #ffcc33;
}
#main .mainContent .rowTwo .callout img{
	width: 97%;
	display: block;
	margin: 0px auto;
	box-shadow: 0px 0px 10px 3px #8a795d;
}
#main .mainContent .rowTwo .callout a{
	color: #000; 
	text-decoration: none;
}
#main .mainContent .rowTwo .callout a:hover{
	color: #000; 
}

#main .mainContent .rowTwo .callout a .collout-span span{
	font-size: 18px;
	font-weight: normal;
	padding: 5px 40px;
	color:#000;
	text-align: center;
	display: block;
	line-height: 14px;
	box-shadow: 0px 2px 3px #8a795d;
	width: 100%;
	background:#fff;
}

#main .footer{
	padding: 30px 0 20px 0;
	background: #000;
	color: #fff;
}
#main .footer .social{
	margin: 0; 
	padding: 0; 
	text-align: center;
}
#main .footer .social a{
	padding: 0; 
	display: inline-block; 
	margin: 0 2px 2px 2px; 
	color: #fff;
}
#main .footer .social ul li a:hover{
	text-decoration: none;
}	
#main .footer .copyright p{
	text-align: center; 
	margin: 0; 
	padding: 0; 
	font-size: 12px;
}
#main .footer .footerNav ul{
	margin: 0; 
	padding: 0; 
	list-style: none; 
    text-align: center;
}
#main .footer .footerNav ul li{
	margin: 0; 
	padding: 0; 
	list-style: none; 
	display: inline;
}
#main .footer .footerNav ul li a{
	text-decoration: none; 
	color: #fff; 
	font-size: 12px; 
	padding: 0 15px; 
	display: inline-block;
}
#main .footer .footerNav ul li a:hover{
	text-decoration: underline;
}

/*margin*/



/* to show content in ellipsis*/
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#main .breadcrumb{
	color: #afaeae; 
	padding: 10px 20px; 
	font-style: italic;
}
#main .breadcrumb a{
	color: #afaeae; 
	text-decoration: none;
}
#main .breadcrumb a:hover{
	color: #afaeae; 
	text-decoration: underline;
}

#main .productDetails .productImages{
	width: 40%; 
	float: left;
	max-width: 100%;
}
#main .productDetails .productImages img{
	width: 100%;
}
#main .productDetails .productDescription{
	width: 56%; 
	float: left; 
	padding: 0 30px 30px;
	max-width: 100%;
}
#main .productDetails .productDescription h1{
	font-size: 24px; 
	margin: 0; 
	padding: 0 0 10px 0; 
	line-height: 30px;
	max-width: 100%;
	color:#ffbb25
}
#main .productDetails .productDescription h2{
 
	line-height: 30px; 
	max-width: 100%;
	font-weight: bold;
	font-size: 22px;
}
#main .productDetails .productDescription p{
	font-size: 16px; 
	margin: 0; 
	padding: 0 0 20px 0; 
	line-height: 20px;
	max-width: 100%;
}
#main .productDetails .productDescription select.qty{
	background: #E8E8E8; 
	border:1px solid #E8E8E8; 
	padding: 2px 8px; 
	display: inline-block;
}
#main .productDetails .productDescription .addToCart{
	 background: #cf1f1f; 
	 border: 1px solid #100f0f; 
	 border-radius: 10px;
	 color: #fff; 
	 text-transform: uppercase; 
	 text-decoration: none; 
	 font-size: 16px; 
	 font-weight: normal; 
	 display: inline-block; 
	 padding: 7px 20px;
	 max-width: 100%;
}
#main .productDetails .productDescription .prodDes{
	background: #E8E8E8; 
	border: 1px solid #E8E8E8; 
	padding: 10px;
	max-width: 100%;
	border-radius: 10px;
}
#main .productDetails .productDescription .prodDes p{
	padding: 0 0 5px 0;
	max-width: 100%;
}
.floatLeft {
	float: left;
	box-shadow: 2px 2px 4px #ccc;
	min-height: inherit;
}
#main .aboutPage h1{
	color: #000; 
	margin: 0; 
	padding: 20px 0; 
	text-align: center; 
	font-size: 26px;
}
#main .aboutPage h2{
	color: #cc9933; 
	font-size: 20px; 
	margin: 0; 
	padding: 20px 0 0 0; 
	text-align: center;
}
#main .aboutPage p{
	color: #000; 
	line-height: 20px; 
	font-size: 20px; 
	padding: 0 0 20px 0;
}

#main .aboutPage img{
   float: left;
   width: 40%;
   margin:0 20px 0 0;
}

.content{
	width: 55%;
	display: inline-block;
}

#main .aboutPage .aboutRight img { 
	float: right;
	margin: 0 0 0 20px;
}

.aboutPage{
	padding-bottom: 10px;
	min-height: 640px;
}

/* Contact Page */
.banner{
	line-height: 0;
}
.contactPage{
	background: #e9eef2; 
	border-top: 10px solid #f2ecb2;
}
.contactPage{
	border-bottom: 10px solid #f2ecb2;
}
.contactPage h1{
	margin: 0; 
	padding: 40px 0 20px; 
	text-transform: uppercase; 
	color: #000; 
	font-size: 32px;
	text-align: center; 
	font-weight: bold; 
	line-height: 32px;
}
.contactPage .address{
	color: #585858; 
	text-align: center; 
	margin: 0; 
	padding: 10px 0 20px 0;
}
.contactPage .address a{
	color: #4cb5d4; 
	text-decoration: underline;
}
.contactPage .address a:hover{
	text-decoration: none;
}
.contactPage .contactForm{
	padding: 0px 0px 40px 550px; 
	width: 930px;
	background: url(../images/icon-contact.jpeg) no-repeat 30% 30%;
}
.contactPage .contactForm input, .contactPage .contactForm textarea{
	width: 100%; 
	background: #fff; 
	border: 1px solid #ccc; 
	font-size: 16px; 
	color: #000; 
	padding: 12px 15px; 
	box-sizing: border-box; 
	outline: none;
	margin: 20px 0 0 0;
	border-radius: 20px; 
}
.contactPage .contactForm input.submitBtn{
	color: #fff; 
	text-transform: uppercase; 
	padding: 15px;
	background-image: linear-gradient(-90deg, #16c2e0, #9076d7);
}


/* Checkout Page */
.checkoutPage{
	background: url(../images/img-bg-checkout.jpg) no-repeat center center;
	padding: 25px;
}
.checkoutPage .checkoutContainer{
	border: 3px solid #ffcc33; 
	border-radius: 10px; 
	box-shadow: 3px 7px 15px #000000;
	background: #fff; 
	padding: 5px;
}
.checkoutPage .checkoutContainer .billingDetails{
	float: left; 
	width: 594px; 
	padding: 20px 80px 30px 30px;
}
.checkoutPage .checkoutContainer .billingDetails h2{
	margin: 0 0 10px 0; 
	padding: 20px 0 5px 0; 
	border-bottom: 1px solid #ffcc33;
	font-size: 18px; 
	font-weight: bold;
}
.checkoutPage .checkoutContainer .billingDetails .bd_left{
	 float: left; 
	 width: 50%;
	 max-width: 100%;
}
.checkoutPage .checkoutContainer .billingDetails .bd_right{
	 float: left; 
	 width: 50%;
	 max-width: 100%;
}
.checkoutPage .checkoutContainer .billingDetails .bd_address p{
	font-size: 16px; 
	margin: 0; 
	padding: 5px 0 0 0; 
	font-weight: normal;
}
.bd_shipping_form input,
.bd_shipping_form select{
	color: #000; 
	padding: 5px; 
	font-size: 16px; 
	border: 1px solid #ccc;
	border-radius: 10px; 
	outline: none;
}
.bd_shipping_form input:read-only {
	background-color: rgb(235, 235, 228);
	cursor: default;
}
.bd_shipping_form select {
	padding-right: 2em;
}
.bd_shipping_form input.bd_name{
	float: left; 
	width: 41%; 
	margin-right: 5%;
}
.bd_shipping_form input.bd_phone{
	float: left; 
	width: 41%; 
	margin-right: 5%;
}
.checkoutPage .checkoutContainer .orderDetails{
	float: left; 
	width: 300px; 
	background: #666; 
	border-radius: 10px; 
	color: #fff; 
	padding: 25px;
	font-size: 14px;
	max-width: 100%;
}
.background-yellow{
	background: #fc3;

}
.checkoutPage .checkoutContainer .orderDetails h2{
	margin: 0; 
	padding: 0 0 10px 0; 
	text-align: center; 
	font-size: 22px; 
	border-bottom: 1px solid #ffcc33; 
	font-weight: normal;
}
.checkoutPage .checkoutContainer .orderDetails .od_head{
	color: #000; 
	font-size: 16px;
}
.checkoutPage .checkoutContainer .orderDetails .od_line{
	border-bottom: 1px solid #ffcc33; 
	margin: 10px 0; 
	height: 0; 
	clear: both; 
	width: 100%;
}
.checkoutPage .checkoutContainer .orderDetails .od_highlight{
	color: #ffcc33;
}
.checkoutPage .checkoutContainer .orderDetails .od_col, .cartDetails{
	overflow: hidden;
}
.checkoutPage .checkoutContainer .orderDetails .od_col span{
	width: 30%; 
	float: left; 
	text-align: center; 
	padding: 7px 0;
	max-width: 100%;
}
.checkoutPage .checkoutContainer .orderDetails
{
	max-width: 100%;
}
.checkoutPage .checkoutContainer .orderDetails .od_col span strong{
	font-weight: bold; 
	font-size: 16px;
}
.checkoutPage .checkoutContainer .orderDetails .od_col span:first-child{
	width: 50%; 
	text-align: left;
}
.checkoutPage .checkoutContainer .orderDetails .od_col span:last-child{
	width: 20%; 
	text-align: right;
}
.checkoutPage .checkoutContainer .orderDetails .cartDetails .od_cart_det{
	float: left; 
	width: 70%; 
	padding: 3px 0;
}
.checkoutPage .checkoutContainer .orderDetails .cartDetails .od_cart_price{
	float: left; 
	width: 30%; 
	text-align: right; 
	padding: 3px 0;
}
.checkoutPage .checkoutContainer .orderDetails .od_delivery_date{
	text-align: center;
}
.checkoutPage .checkoutContainer .orderDetails .od_delivery_date h3, .checkoutPage .checkoutContainer .orderDetails .od_delivery_date p{
	margin: 0;
}
.checkoutPage .checkoutContainer .orderDetails h3{
	margin: 0; 
	padding: 5px 0 10px 0;
}
.checkoutPage .checkoutContainer .orderDetails .od_place_order{
	padding: 30px 0 80px 0; 
	text-align: center;
}
.checkoutPage .checkoutContainer .orderDetails .od_place_order .po_btn{
	background: #ffcc33; 
	border-radius: 10px; 
	color: #000; 
	font-size: 16px; 
	font-weight: bold;
	text-decoration: none; 
	padding: 7px 50px;
}
.checkoutPage .checkoutContainer .billingDetails .bd_address .bd_left{
	position: relative;
}
.bd_edit{
	position: absolute; 
	top: 5px; 
	right: 15px; 
	width: 21px; 
	height: 21px;
	background: url(../images/icon-edit.jpg) no-repeat; 
}

table#order-details{
	color: #000;
}

/*Shopping Cart*/
.color{
	color: #000;
	margin: 0; 
	padding: 20px 0; 
	font-size: 24px;  
	font-weight: bold; 
	text-align: center;
}

.background-yellow{
	background: #ffcc33;
}

#shopping-cart .colOne{
	border: 1px solid #fff;
	width: 60%;
	height: 100%;
	border-radius: 10px;
	background: #fff;
	padding: 10px;
	margin-left: 1em;
	float: left;
}
.callout-border{
	border: solid 3px #cfcfcf;
	border-radius: 10px;
	width: 100%;
}
.callout1-img
{
	width: 30%;
	height: 200px;
	padding: 10px;
	float: left;
}
.callout1-info{
	float: right;
	width: 70%;
}

.col-md{
	padding: 0px !important;
}
.shopping-cart{
	margin: 0px;
}

#shopping-cart .qty{
	width: 50px;
	text-align: center;
}

#shopping-cart form {
	display: inline-block;
}

#shopping-cart .shopping-cart-item {
	position: relative;
	margin-bottom: 1em;
}

#shopping-cart .shopping-cart-item:last-of-type {
	margin-bottom: 0;
}

#shopping-cart .shopping-cart-item .remove-item {
	position: absolute;
	font-size: 1.8em;
	right: 15px;
	top: 0;
	margin-top: 0;
}

#shopping-cart .colTwo{
	float: right;
	width: 36%;
	height: 100%;
	background: #333;
	margin-right: 1em;
	margin-bottom: 1em;
	border-radius: 10px;
}

.callout-border-right{
	border: solid 3px #333;
	border-radius: 10px;
}

.callout-border-right h3{
	color: #fff;
	margin: 0; 
	padding: 10px 0; 
	font-size: 20px; 
	font-weight: bold; 
	text-align: center;
}
.callout-table{
	color: #fff;
	text-align: left;
}

.callout-table th{
	color: #666666;
}

.callout-table td,tr,th{
	padding: 10px;

}
.form-btn{
	margin: 0px;
	padding: 0px;
}

div.form-btn a{
	background: #666666;
	border: 1px solid #666;
	border-radius: 5px;
	padding: 10px;
	width: 100%;
	display: inline-block;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
}

/* Register Page */

.registerPage{
	padding: 150px 50px; 
	overflow: hidden;
	max-width: 100%;
	background: #fff;
}
.registerPageLeft{
	float: left;
	background: #fff;
	padding: 40px 30px 30px 60px;
	text-align: center;
	height: 500px;
	width: 33%;
	max-width: 100%;

}
.registerPageForm{
	float: left; 
	background: #e1e1e1; 
	height: 500px;
	padding: 40px 30px 30px 60px;
	width: 65%;
	max-width: 100%;

}
.registerPageForm form{
	margin: 0; padding: 0;
	max-width: 100%;
}
.registerPageForm form input{
	margin: 0 0 25px 0; 
	border-radius: 10px;
	padding: 10px 10px 10px 10px;
	border: none;
	font-size: 16px;
	width: 440px;
	color: #666;
	background: #fff;
	box-sizing: border-box;
	max-width: 100%;
}
.registerPageForm form input.reg_names{
	width: 45%; 
	float: left; 
	margin-right: 4%;
	max-width: 100%;
}
.registerPageForm form .registerBtn{
	background: #ffcc33; 
	color: #000; 
	font-size: 20px;
	padding: 5px 20px;
	border: none;
	cursor: pointer;
	width: 280px;
	float: right;
	margin-right: 30px;
	max-width: 100%;
}

.col-md{
	padding: 0px !important;
}

/* Login Page */
input{
	outline: none;
	color: #000;
	max-width: 100%;
}
.col-md{
	padding: 0px !important;
}
.loginPage{
	margin: 70px;
	overflow: hidden;
	max-width: 100%;
	background: #fff;
}
.loginPageLeft{
	float: left;
	background: #fff;
	padding: 50px 20px 10px 20px;
	text-align: center;
	height: 400px;
	width: 30%;
	max-width: 100%;
}
.loginPageForm{
	float: left; 
	background: #e1e1e1; 
	height: 400px;
	padding: 100px 30px 30px 60px;
	width: 60%;
	max-width: 100%;
}
.loginPageForm form{
	margin: 0; 
	padding: 0;
	max-width: 100%;
}
.loginPageForm form input{
	margin: 0 0 40px 0; 
	border-radius: 10px;
	padding: 10px 10px 10px 40px;
	border: none;
	font-size: 16px;
	width: 380px;
	color: #666;
	background: #fff url(../images/icon-lock.jpg) no-repeat 10px center;
	max-width: 100%;
}
.loginPageForm form .loginBtn{
	background: #ffcc33; 
	color: #000; 
	font-size: 20px;
	padding: 5px 20px;
	border: none;
	cursor: pointer;
	width: 280px;
	float: right;
	margin-right: 40px;
	max-width: 100%;
}

/*Profile Detail Start*/
.profile-detail {
    width: 100%;
    position: relative;
    float: left;
    padding: 20px;
    background-color: #fff;
}
.profile-detail .profile-content {
    width: 100%;
    float: left;
    position: relative;
    padding: 20px 0 0;
}
.profile-detail .profile-content p {
    width: 100%;
    float: left;
    position: relative;
    font-size: 14px;
    line-height: 24px;
    color: #000;
    margin: 0;
}
.profile-detail .profile-content ul.detail-profile {
    width: 100%;
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
}
.profile-detail .profile-content ul.detail-profile li {
    width: 80%;
    max-width: 100%;
    float: left;
    position: relative;
    list-style: none;
    margin-bottom: 10px;
    background-color: #fafafa;
    padding: 1% 2% 1% 4%;
    margin: 1%;
    border-radius: 4px;
}
.profile-detail .profile-content ul.detail-profile li .detail-name {
    position: relative;
    float: left;
    font-size: 13px;
    color: #8b8b8b;
    margin-bottom: 8px;

}
.profile-detail .profile-content ul.detail-profile li .detail-name:before {
	content: "";
	border-bottom: 1px solid #000000;
	position: absolute;
	bottom: -3px;
	left: 0px;
	width: 100%;
}
.profile-detail .profile-content ul.detail-profile li .detail-name:after {
	content: "";
	border-bottom: 1px solid #fdca01;
	position: absolute;
	bottom: -3px;
	right: 0px;
	width: 50%;
}
.profile-detail .profile-content ul.detail-profile li .detail-type {
    width: 100%;
    float: right;
    position: relative;
    font-size: 16px;
    color: #000;
    font-weight: normal;
}

.left {
    width: 75%;
    position: relative;
    float: left;
    max-width: 100%;
}
.right {
    width: 25%;
    position: relative;
    float: right;
    padding: 20px 0 0 0;
    max-width: 100%;
}
.title {
    font-size: 23px;
    color: #821a1a;
    float: left;
    margin-bottom: 20px;
    font-weight: 500;
    display: inline-block;
    position: relative;
}
.title:before {
    content: "";
    border-bottom: 3px solid #000000;
    position: absolute;
    bottom: -5px;
    left: 0px;
    width: 50%;
}
.title:after {
    content: "";
    border-bottom: 3px solid #fdca01;
    position: absolute;
    bottom: -5px;
    right: 0px;
    width: 50%;
}
.recent-order {
    padding: 0px;
    margin-bottom: 20px !important;
    width: 100%;
    float: left;
    text-align: justify;
    border-bottom: none;
}
.recent-order .widget-title {
    width: 100%;
    float: left;
    font-size: 16px;
    text-transform: capitalize;
    color: #484839;
    margin-bottom: 10px;
    border-bottom: 2px solid #d6d6d6;
    padding-bottom: 4px;
    font-weight: 600;
}
.recent-order ul {
    width: 100%;
    float: left;
    padding: 0px;
    margin: 0px;
}
.recent-order ul li {
    width: 100%;
    float: left;
    list-style: none;
    padding-left: 12px;
	text-transform: capitalize;
    margin-bottom: 6px;
    font-size: 14px;
    color: #4e4e4e;
    position: relative;
    text-align: left;
}
.recent-order ul li:before {
    content: "";
    width: 5px;
    height: 5px;
    background: #ffcc33;
    position: absolute;
    top: 7px;
    left: 0px;
    border-radius: 50%;
}
.recent-order ul li a {
    color: #4e4e4e;
    font-size: 16px;
    text-decoration: none;
}
/*Profile Detail Close*/




/*reset password*/
.resetPassword{
	padding: 100px 50px; 
	overflow: hidden;
}
.resetPasswordLeft{
	float: left;
	color: #000;
	background: #ffcc33;
	padding: 50px 20px 10px 20px;
	text-align: center;
	height: 400px;
	width: 40%;
	max-width: 100%
}
.resetPasswordForm{
	float: left; 
	background: #e1e1e1; 
	max-height: 100%;
	padding: 100px 30px 30px 60px;
	width: 57%;
	height: 400px;
}
.resetPasswordForm form{
	margin: 0; padding: 0;
}
.resetPasswordForm form input{
	width: 100%; 
	background: #fff; 
	border: 1px solid #ccc; 
	font-size: 16px; 
	color: #000; 
	padding: 12px 15px; 
	box-sizing: border-box; 
	outline: none;
	margin: 20px 0 20px 0;
	border-radius: 20px; 
	background: #fff url(../images/icon-lock.jpg) no-repeat 10px center;
}
.resetPasswordForm form .resetPasswordBtn{
	background: #ffcc33; 
	color: #000; 
	font-size: 16px;
	padding: 5px 10px;
	border: none;
	cursor: pointer;
	width: 200px;
	float: right;
	border-radius: 10px;
}
.mainContent .resetPassword .resetPasswordLeft h2{
	color: #000 !important;
}
/* Reset password end*/

/*order page css*/
.colOne-order{
	border: 1px solid #fff;
	border-radius: 10px;
	width: 70%;
	height: 100%;
	background: #fff;
 	padding: 10px;
 	margin: 10px;
 	margin-top: 0px;
	float: left;
	max-width: 100%
}
.callout1-add-order h3,
.callout1-info-order h3{
	padding: 10px;
	max-width: 100%
}


.callout1-add-order address,
.callout1-info-order address{
	line-height: 2px;
	padding: 10px;
	max-width: 100%
 }

 
.callout1-add-order i,
.callout1-info-order i{
	color: #000;
	text-shadow: 2px 2px #ffcc33;
	padding: 10px;
	max-width: 100%
}

hr{
	background: #cfcfcf;
	height: 3px;
	max-width: 100%
 }


.colTwo-order{
	width: 25%;
 	height: 100%;
	background: #333;
	margin-right: 10px;
	border-radius: 10px;
	float: right;
	max-width: 100%;
}



