/* css for hamburger menu ends here */
  /* For mobile phones: */

/* Responsiveness CSS Starts here */
/* css for hamburger menu starts here */
/*@media only screen and (max-width: 768px) {*/

  	#main{
  		width: 100%;
  	}
	.hamburger{
		display: block;
	}
	.slideup, .slidedown {
		max-height: 0;
		overflow-y: hidden;
		-webkit-transition: max-height 0.5s ease-in-out;
		-moz-transition: max-height 0.5s ease-in-out;
		-o-transition: max-height 0.5s ease-in-out;
		transition: max-height 0.5s ease-in-out;
  	}
	.slidedown{
		max-height: 350px;
	}
  	#main .mainNav{
		width: 100%;
		overflow: hidden;
	}
	#main .mainNav ul li{
		width: 100%;
	}
	#main .mainNav ul li a{
		display: block;
	}
	#main .header .topNav{
		width: 100%;
		text-align: center;
		float: none;
	}
	#main .header .cart{
		float: none;
		text-align: center;
		width: 100%;
		padding-top: 85px;
	}
	#main .header .cart a span{
		float: none;
	}
	#main .header .cart a img{
		float: none;
	}
	#main .header .logo{
		margin-top: 30px;
	}
	#main .header .search{
		float: none;
		text-align: center;
		margin: 20px auto 0 auto;
	}
	#main .header .search form{
		margin: 0;
		padding: 0;
		display: inline-block;
	}
	#main .footer .copyright{
		padding: 10px 0;
	}
	#main .mainContent .rowTwo .callout, 
	#main .mainContent .rowOne .calloutLeft, #main .mainContent .rowOne .calloutRight,
	#main .mainContent .rowOne .calloutCenter{
		width: 100%;
	}
	#main .mainContent .rowOne .calloutCenter span{
		margin-top: 50px;
	}
	#main .mainContent h2{
		font-size: 28px;
	}

	/* Product List Responsiveness */
	.filters, .products{
		width: 100%;
	}
	.productItem{
		width: 100%;
		padding-top: 20px;
		padding-bottom: 20px;
		border-top: 4px solid #ddd;
		border-bottom: none;
		box-shadow: none;
		margin-bottom: 0;
	}
	#main .searchBar{
		text-align: center;
	}
	#main .mainContent h2{
		margin-left: 1em;
		text-align: left;
	}

    /* Product Detail Responsiveness */
	#main .productDetails .productImages{
		width: 100%;
		float: none;
	}
	#main .productDetails .productDescription{
		width: 100%;
		float: none;
	}
	#main .productDetails .productDescription h1{
		padding-top: 20px;
	}

    /* About Page Responsiveness */
   #main .aboutPage img{
   	width: 100%;
   }
   #main .aboutPage h2{
   	font-size: 28px;
   }
   #main .aboutPage p{
   	line-height: 28px;
   }
   .content{
   	width: 100%;
   	padding: 10px;
   }


