body{
	margin: 0; 
	padding: 0; 
	background: #fff; 
	font-family: 'Roboto', sans-serif; 
	font-size: 16px; 
	line-height: 18px; 
	color: #000; 
}
#main{
	width: 960px;
	margin: 0 auto;
}
img{
	max-width: 100%;
}
div{
	box-sizing: border-box;
}
.clearFix{
	clear: both; 
	height: 0px; 
	margin: 0; 
	padding: 0; 
	overflow: hidden;
}
#main .header{
	position: relative; 
	padding: 10px 0 20px 0; 
	overflow: hidden;
}
#main .header .logo{
	position: absolute; 
	left: 50%; 
	margin-left: -101px; 
	margin-top: 20px;
}
#main .header .topNav{
	float: right; 
	font-size: 14px;
}
#main .header .topNav ul{
	margin: 0; 
	padding: 0; 
	list-style: none; 
}
#main .header .topNav ul li{
	margin: 0; 
	padding: 0 0 0 15px; 
	list-style: none; 
	display: inline;
}
#main .header .topNav ul li a{
	color: #000; 
	text-decoration: none;
}
#main .header .topNav ul li a:hover{
	color: #000; 
	text-decoration: underline;
}
#main .header .cart{
	float: right; 
	margin: 10px 0 0 0;
}
#main .header .cart a{
	color: #000; 
	text-decoration: none; 
	font-size: 16px;
}
#main .header .cart a img{
	display: inline;
	margin: 0; 
	float: left;
}
#main .header .cart a span{
	display: inline; 
	margin: 2px 5px 0 0; 
	float: left; color: #aaa;
}
#main .header .search {
	float: right; 
	margin: 20px 0 0 0;
}
#main .header .search .searchTxt{
	height: 25px; 
	margin: 0; 
	box-sizing: border-box; 
	float: left; 
	border: 1px solid #bbb; 
	border-right: none; 
	padding: 2px 5px; 
	font-size: 14px; 
	outline: none;
}
#main .header .search .searchBtn{
	margin: 0; 
	float: left; 
	background: url(../images/icon-search.jpg) no-repeat; width: 25px; height: 25px; border: 1px solid #bbb; border-left: none; cursor: pointer;
}
#main .mainNav{
	background: #000;
}
#main .mainNav ul{
	margin: 0; 
	padding: 0; 
	list-style: none; 
	text-align: center;
}
#main .mainNav ul li{
	margin: 0; 
	padding: 0; 
	list-style: none; 
	display: inline;
}
#main .mainNav ul li a{
	text-decoration: none; 
	color: #fff; 
	font-weight: bold; 
	font-size: 20px; 
	padding: 15px 30px; 
	display: inline-block;
}
#main .mainNav ul li a:hover{
	color: #0abbd0;
}
#main .searchBar {
	background: #eeeeee;
	line-height: 3em;
}
#product-list {
	width: 100%;
}
.filters {
	width: 30%;
}
.filters ul {
	list-style-type: none;
}
.products {
	width: 70%;
}
.yellowButton {
	color: #000;
	background: #ffbf31;
	padding: .8em;
	font-weight: 700;	
}
.roundCorners {
	border-radius: 10px;
}
.productRow {
	width: 100%;
}
.productItem {
	width: 30%;
	float: left;
	margin-bottom: 2em;
	text-align: center;
	border: 1px solid #ddd;
	box-shadow: 2px 3px #ccc;
	margin-right: 1em; 
	padding-bottom: .5em;
}
.productItem p a.yellowButton {
	margin-bottom: 3em;
	text-decoration: none;
}
#main .mainContent h2{
	margin: 0; 
	padding: 20px 0; 
	font-size: 20px; 
	color: #ffbb25; 
	font-weight: bold; 
	text-align: center;
}
#main .mainContent .rowOne img{
	width: 100%;
}
#main .mainContent .rowOne .calloutLeft, #main .mainContent .rowOne .calloutRight{
	width: 21%;  
	float: left; 
	position: relative;
}
#main .mainContent .rowOne .calloutCenter{
	width: 58%; 
	float: left; 
	background: #ffbb25; 
	position: relative; 
	padding: 10px 15px;
}
#main .mainContent .rowOne .calloutLeft span, #main .mainContent .rowOne .calloutRight span, #main .mainContent .rowOne .calloutCenter span{
	position: absolute; 
	font-size: 22px; 
	color: #000; 
	font-weight: bold; 
	text-align: center; 
	display: block; 
	margin-top: 30px; 
	width: 100%; 
	text-shadow: 3px 7px 35px #000000;
}
#main .mainContent .rowOne .calloutCenter span{
	margin-top: 80px;
}
#main .mainContent .rowTwo .callout{
	width: 33%; 
	float: left; 
	padding: 1%;
}
#main .mainContent .rowTwo .callout img{
	width: 100%;
}
#main .mainContent .rowTwo .callout a{
	color: #000; 
	text-decoration: none;
}
#main .mainContent .rowTwo .callout a:hover{
	color: #000; 
	text-decoration: underline;
}
#main .mainContent .rowTwo .callout span{
	font-size: 20px; 
	font-weight: normal; 
	padding: 10px 40px; 
	color: #000; 
	text-align: center; 
	display: block; 
	line-height: 22px;
}

#main .footer{
	padding: 30px 0 20px 0;
	background: #000;
	color: #fff;
}
#main .footer .social{
	margin: 0; 
	padding: 0; 
	text-align: center;
}
#main .footer .social a{
	padding: 0; 
	display: inline-block; 
	margin: 0 2px 2px 2px; 
	color: #fff;
}
#main .footer .social ul li a:hover{
	text-decoration: none;
}	
#main .footer .copyright p{
	text-align: center; 
	margin: 0; 
	padding: 0; 
	font-size: 12px;
}
#main .footer .footerNav ul{
	margin: 0; 
	padding: 0; 
	list-style: none; 
    text-align: center;
}
#main .footer .footerNav ul li{
	margin: 0; 
	padding: 0; 
	list-style: none; 
	display: inline;
}
#main .footer .footerNav ul li a{
	text-decoration: none; 
	color: #fff; 
	font-size: 12px; 
	padding: 0 15px; 
	display: inline-block;
}
#main .footer .footerNav ul li a:hover{
	text-decoration: underline;
}

#main .breadcrumb{
	color: #afaeae; 
	padding: 10px 20px; 
	font-style: italic;
}
#main .breadcrumb a{
	color: #afaeae; 
	text-decoration: none;
}
#main .breadcrumb a:hover{
	color: #afaeae; 
	text-decoration: underline;
}

#main .productDetails .productImages{
	width: 400px; 
	float: left;
}
#main .productDetails .productDescription{
	width: 560px; 
	float: left; 
	padding: 0 30px 30px;
}
#main .productDetails .productDescription h1{
	font-size: 22px; 
	margin: 0; 
	padding: 0 0 10px 0; 
	line-height: 30px;
}
#main .productDetails .productDescription h2{
	font-size: 16px; 
	margin: 0; 
	padding: 10px 0 0 0; 
	line-height: 30px; 
	font-weight: normal;
}
#main .productDetails .productDescription p{
	font-size: 14px; 
	margin: 0; 
	padding: 0 0 20px 0; 
	line-height: 20px;
}
#main .productDetails .productDescription span.qty{
	background: #f0e3e3; 
	border:1px solid #c6b6b6; 
	padding: 2px 8px; 
	display: inline-block;
}
#main .productDetails .productDescription .addToCart{
	 background: #cf1f1f; 
	 border: 1px solid #100f0f; 
	 color: #fff; 
	 text-transform: uppercase; 
	 text-decoration: none; 
	 font-size: 18px; 
	 font-weight: normal; 
	 display: inline-block; 
	 padding: 7px 20px;
}
#main .productDetails .productDescription .prodDes{
	background: #ece1e1; 
	border: 1px solid #e1d4d4; 
	padding: 10px;
}
#main .productDetails .productDescription .prodDes p{
	padding: 0 0 5px 0;
}
.floatLeft {
	float: left;
}
#main .aboutPage h1{
	color: #000; 
	margin: 0; 
	padding: 20px 0; 
	text-align: center; 
	font-size: 26px;
}
#main .aboutPage h2{
	color: #cc9933; 
	font-size: 20px; 
	margin: 0; 
	padding: 20px 0 0 0; 
	text-align: center;
}
#main .aboutPage p{
	color: #000; 
	line-height: 20px; 
	font-size: 20px; 
	padding: 0 0 20px 0;
}

#main .aboutPage img{
   float: left;
   width: 40%;
   margin:0 20px 0 0;
}

.content{
	width: 55%;
	display: inline-block;
}


#main .aboutPage .aboutRight img { 
	float: right;
	margin: 0 0 0 20px;
}

.aboutPage{
	padding-bottom: 10px;
	min-height: 640px;
}

/* checkout Page */
.checkoutPage{
	background: url(../images/img-bg-checkout.jpg) no-repeat center center;
	padding: 25px;
}
.checkoutPage .checkoutContainer{
	border: 3px solid #ffcc33; 
	border-radius: 10px; 
	box-shadow: 3px 7px 15px #000000;
	background: #fff; 
	padding: 5px;
}
.checkoutPage .checkoutContainer .billingDetails{
	float: left; 
	width: 594px; 
	padding: 20px 80px 30px 30px;
}
.checkoutPage .checkoutContainer .billingDetails h2{
	margin: 0 0 10px 0; 
	padding: 20px 0 5px 0; 
	border-bottom: 1px solid #ffcc33;
	font-size: 18px; 
	font-weight: bold;
}
.checkoutPage .checkoutContainer .billingDetails .bd_address .bd_left{
	 float: left; 
	 width: 50%;
}
.checkoutPage .checkoutContainer .billingDetails .bd_address .bd_right{
	 float: left; 
	 width: 50%;
}
.checkoutPage .checkoutContainer .billingDetails .bd_address p{
	font-size: 16px; 
	margin: 0; 
	padding: 5px 0 0 0; 
	font-weight: normal;
}
.bd_shipping_form input{
	color: #ccc; 
	width: 90%; 
	padding: 5px; 
	font-size: 16px; 
	border: 1px solid #ccc;
	border-radius: 10px; 
	margin-top: 20px; 
	outline: none;
}
.bd_shipping_form input.bd_name{
	float: left; 
	width: 41%; 
	margin-right: 5%;
}
.bd_shipping_form input.bd_phone{
	float: left; 
	width: 41%; 
	margin-right: 5%;
}

.checkoutPage .checkoutContainer .orderDetails{
	float: left; 
	width: 300px; 
	background: #666; 
	border-radius: 10px; 
	color: #fff; 
	padding: 25px;
	font-size: 14px;
}
.checkoutPage .checkoutContainer .orderDetails h2{
	margin: 0; 
	padding: 0 0 10px 0; 
	text-align: center; 
	font-size: 22px; 
	border-bottom: 1px solid #ffcc33; 
	font-weight: normal;
}
.checkoutPage .checkoutContainer .orderDetails .od_head{
	color: #000; 
	font-size: 16px;
}
.checkoutPage .checkoutContainer .orderDetails .od_line{
	border-bottom: 1px solid #ffcc33; 
	margin: 10px 0; 
	height: 0; 
	clear: both; 
	width: 100%;
}
.checkoutPage .checkoutContainer .orderDetails .od_highlight{
	color: #ffcc33;
}
.checkoutPage .checkoutContainer .orderDetails .od_col, .cartDetails{
	overflow: hidden;
}
.checkoutPage .checkoutContainer .orderDetails .od_col span{
	width: 30%; 
	float: left; 
	text-align: center; 
	padding: 7px 0;
}
.checkoutPage .checkoutContainer .orderDetails .od_col span strong{
	font-weight: bold; 
	font-size: 16px;
}
.checkoutPage .checkoutContainer .orderDetails .od_col span:first-child{
	width: 50%; 
	text-align: left;
}
.checkoutPage .checkoutContainer .orderDetails .od_col span:last-child{
	width: 20%; 
	text-align: right;
}
.checkoutPage .checkoutContainer .orderDetails .cartDetails .od_cart_det{
	float: left; 
	width: 70%; 
	padding: 3px 0;
}
.checkoutPage .checkoutContainer .orderDetails .cartDetails .od_cart_price{
	float: left; 
	width: 30%; 
	text-align: right; 
	padding: 3px 0;
}
.checkoutPage .checkoutContainer .orderDetails .od_delivery_date{
	text-align: center;
}
.checkoutPage .checkoutContainer .orderDetails .od_delivery_date h3, .checkoutPage .checkoutContainer .orderDetails .od_delivery_date p{
	margin: 0;
}
.checkoutPage .checkoutContainer .orderDetails h3{
	margin: 0; 
	padding: 5px 0 10px 0;
}
.checkoutPage .checkoutContainer .orderDetails .od_place_order{
	padding: 30px 0 80px 0; 
	text-align: center;
}
.checkoutPage .checkoutContainer .orderDetails .od_place_order .po_btn{
	background: #ffcc33; 
	border-radius: 10px; 
	color: #000; 
	font-size: 16px; 
	font-weight: bold;
	text-decoration: none; 
	padding: 7px 50px;
}
.checkoutPage .checkoutContainer .billingDetails .bd_address{
	position: relative;
}
.bd_edit{
	position: absolute; 
	top: -5px; 
	right: 5px; 
	width: 21px; 
	height: 21px;
	background: url(../images/icon-edit.jpg) no-repeat; 
	cursor: pointer;
}

/*Shopping Cart*/

.banner{

}
.color{
	color: #000;
	margin: 0; 
	padding: 20px 0; 
	font-size: 24px;  
	font-weight: bold; 
	text-align: center;
}

.background-yellow{
	background: #ffcc33;
}

.callout-border{
	border: solid 3px #cfcfcf;
	border-radius: 10px;
}
.callout1-img
{
	width: 200px;
	height: 200px;
	padding: 10px;
	float: left;
}
.callout1-info{
	float: right;
	margin-right: 150px;
}

.qty{
	width: 20px;
}

.margin-btw-callout{
	margin: 10px;
}

.colTwo{
	float: right;
	width: 36%;
	height: 100%;
	background: #333;
	margin-right: 10px;
	border-radius: 10px;
}

.callout-border-right{
	border: solid 3px #333;
	border-radius: 10px;
}

.callout-border-right h3{
	color: #fff;
	margin: 0; 
	padding: 10px 0; 
	font-size: 20px; 
	font-weight: bold; 
	text-align: center;
}
.callout-table{
	color: #fff;
	text-align: left;
}

.callout-table th{
	color: #666666;
}

.callout-table td,tr,th{
	padding: 10px;

}
.form-btn{
	margin: 0px;
	padding: 0px;
}

.form-btn button{
	background: #666666;
	border: 1px solid #666;
	border-radius: 5px;
	padding: 10px;
	width: 100%;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
}


/*Profile*/


.colOne-profile{
	border: 1px solid #fff;
	min-height: 100%;
	border-radius: 10px;
	background: #fff;
	padding: 10px;
	margin: 10px;
}

.callout1-img-profile
{
	width: 63%;
	padding: 10px;
	float: left;
}

.callout1-img-profile img{
	width: 300px;
	height: 300px;
}

.callout1-info-order{
	margin-left: 10px;
	width: 35%;
	float: right;
	padding: 10px;
	background: #fff;
}
.callout1-info-order ul{
	list-style-type: square;
	width: 100%;

}
.callout1-info-order ul b{
	color: #666;
	margin-right: 10px;
}
.callout1-info-order ul span{
	text-align: right;
  	padding: 30px;
}


.callout1-info-order ul li{
	color: #fff;
	padding: 5px;
	
}
.callout1-info-order .callout-border-list h3{
	color: #fff;
	margin: 0; 
	padding: 10px 0; 
	font-size: 20px; 
	font-weight: bold;
	text-decoration: underline;
	text-decoration-color: #ffcc33;
	text-underline-position: under;
	text-align: center;
}
.callout-border-list{
	border-right: solid 3px #fff;
	border-radius: 10px;
	min-height: 225px;
	background: #333;
	padding: 10px;
	text-align: left;
}

.callout-border-table{
	border-right: solid 3px #cfcfcf;
	border-radius: 10px;
	min-height: 300px;

}
.callout-border-table table{
 	border-collapse: collapse;
  	width: 100%;
}

.callout-border-table th, td {
  text-align: left;
  padding: 10px;
}

.callout-border-table tr:nth-child(even) 
{background-color: #f2f2f2;}


.callout-border-table h3{
	color: #000;
	margin: 0; 
	padding: 10px 0; 
	font-size: 20px; 
	font-weight: bold; 
	text-align: center;
}

/* checkout Page */
.checkoutPage{
	background: url(../images/img-bg-checkout.jpg) no-repeat center center;
	padding: 25px;
}
.checkoutPage .checkoutContainer{
	border: 3px solid #ffcc33; 
	border-radius: 10px; 
	box-shadow: 3px 7px 15px #000000;
	background: #fff; 
	padding: 5px;
}
.checkoutPage .checkoutContainer .billingDetails{
	float: left; 
	width: 594px; 
	padding: 20px 80px 30px 30px;
}
.checkoutPage .checkoutContainer .billingDetails h2{
	margin: 0 0 10px 0; 
	padding: 20px 0 5px 0; 
	border-bottom: 1px solid #ffcc33;
	font-size: 18px; 
	font-weight: bold;
}
.checkoutPage .checkoutContainer .billingDetails .bd_address .bd_left{
	 float: left; 
	 width: 50%;
}
.checkoutPage .checkoutContainer .billingDetails .bd_address .bd_right{
	 float: left; w
	 idth: 50%;
}
.checkoutPage .checkoutContainer .billingDetails .bd_address p{
	font-size: 16px; 
	margin: 0; 
	padding: 5px 0 0 0; 
	font-weight: normal;
}
.bd_shipping_form input{
	color: #ccc; 
	width: 90%; 
	padding: 5px; 
	font-size: 16px; 
	border: 1px solid #ccc;
	border-radius: 10px; 
	margin-top: 20px; 
	outline: none;
}
.bd_shipping_form input.bd_name{
	float: left; 
	width: 41%; 
	margin-right: 5%;
}
.bd_shipping_form input.bd_phone{
	float: left; 
	width: 41%; 
	margin-right: 5%;
}

.checkoutPage .checkoutContainer .orderDetails{
	float: left; 
	width: 300px; 
	background: #666; 
	border-radius: 10px; 
	color: #fff; 
	padding: 25px;
	font-size: 14px;
}
.checkoutPage .checkoutContainer .orderDetails h2{
	margin: 0; 
	padding: 0 0 10px 0; 
	text-align: center; 
	font-size: 22px; 
	border-bottom: 1px solid #ffcc33; 
	font-weight: normal;
}
.checkoutPage .checkoutContainer .orderDetails .od_head{
	color: #000; 
	font-size: 16px;
}
.checkoutPage .checkoutContainer .orderDetails .od_line{
	border-bottom: 1px solid #ffcc33; 
	margin: 10px 0; 
	height: 0; 
	clear: both; 
	width: 100%;
}
.checkoutPage .checkoutContainer .orderDetails .od_highlight{
	color: #ffcc33;
}
.checkoutPage .checkoutContainer .orderDetails .od_col, .cartDetails{
	overflow: hidden;
}
.checkoutPage .checkoutContainer .orderDetails .od_col span{
	width: 30%; 
	float: left; 
	text-align: center; 
	padding: 7px 0;
}
.checkoutPage .checkoutContainer .orderDetails .od_col span strong{
	font-weight: bold; 
	font-size: 16px;
}
.checkoutPage .checkoutContainer .orderDetails .od_col span:first-child{
	width: 50%; 
	text-align: left;
}
.checkoutPage .checkoutContainer .orderDetails .od_col span:last-child{
	width: 20%; 
	text-align: right;
}
.checkoutPage .checkoutContainer .orderDetails .cartDetails .od_cart_det{
	float: left; 
	width: 70%; 
	padding: 3px 0;
}
.checkoutPage .checkoutContainer .orderDetails .cartDetails .od_cart_price{
	float: left; 
	width: 30%; 
	text-align: right; 
	padding: 3px 0;
}
.checkoutPage .checkoutContainer .orderDetails .od_delivery_date{
	text-align: center;
}
.checkoutPage .checkoutContainer .orderDetails .od_delivery_date h3, .checkoutPage .checkoutContainer .orderDetails .od_delivery_date p{
	margin: 0;
}
.checkoutPage .checkoutContainer .orderDetails h3{
	margin: 0; 
	padding: 5px 0 10px 0;
}
.checkoutPage .checkoutContainer .orderDetails .od_place_order{
	padding: 30px 0 80px 0; 
	text-align: center;
}
.checkoutPage .checkoutContainer .orderDetails .od_place_order .po_btn{
	background: #ffcc33; 
	border-radius: 10px; 
	color: #000; 
	font-size: 16px; 
	font-weight: bold;
	text-decoration: none; 
	padding: 7px 50px;
}
.checkoutPage .checkoutContainer .billingDetails .bd_address{
	position: relative;
}
.bd_edit{
	position: absolute; 
	top: -5px; 
	right: 5px; 
	width: 21px; 
	height: 21px;
	background: url(../images/icon-edit.jpg) no-repeat; 
	cursor: pointer;
}

/* Reset Password */
.resetPassword{
	padding: 100px 50px; overflow: hidden;
}
.resetPasswordLeft{
	float: left;
	background: #ffcc33;
	padding: 50px 20px 10px 20px;
	text-align: center;
	height: 400px;
	width: 300px;

}
.resetPasswordForm{
	float: left; background: #e1e1e1; height: 400px;
	padding: 100px 30px 30px 60px;
	width: 560px;

}
.resetPasswordForm form{
	margin: 0; padding: 0;
}
.resetPasswordForm form input{
	margin: 0 0 40px 0; 
	border-radius: 10px;
	padding: 10px 10px 10px 40px;
	border: none;
	font-size: 20px;
	width: 380px;
	color: #ccc;
	background: #fff url(../images/icon-lock.jpg) no-repeat 10px center;
}
.resetPasswordForm form .resetPasswordBtn{
	background: #ffcc33; color: #000; font-size: 24px;
	padding: 5px 20px;
	border: none;
	cursor: pointer;
	width: 280px;
	float: right;
	margin-right: 40px;
}

/* Contact Page */
.banner{
	line-height: 0;
}
.contactPage{
	background: #e9eef2; 
	border-top: 10px solid #f2ecb2;
}
.contactPage{
	border-bottom: 10px solid #f2ecb2;
}
.contactPage h1{
	margin: 0; 
	padding: 40px 0 20px; 
	text-transform: uppercase; 
	color: #000; 
	font-size: 32px;
	text-align: center; 
	font-weight: bold; 
	line-height: 32px;
}
.contactPage .address{
	color: #585858; 
	text-align: center; 
	margin: 0; 
	padding: 10px 0 20px 0;
}
.contactPage .address a{
	color: #4cb5d4; 
	text-decoration: underline;
}
.contactPage .address a:hover{
	text-decoration: none;
}
.contactPage .contactForm{
	padding: 0px 0px 40px 550px; 
	width: 930px;
	background: url(../images/icon-contact.jpeg) no-repeat left center;
}
.contactPage .contactForm input, .contactPage .contactForm textarea{
	width: 100%; 
	background: #fff; 
	border: 1px solid #ccc; 
	font-size: 16px; 
	color: #000; 
	padding: 12px 15px; 
	box-sizing: border-box; 
	outline: none;
	margin: 20px 0 0 0;
	border-radius: 20px; 
}
.contactPage .contactForm input.submitBtn{
	color: #fff; 
	text-transform: uppercase; 
	padding: 15px;
	background-image: linear-gradient(-90deg, #16c2e0, #9076d7);
}

/* Login Page */
input{
	outline: none;
}
.loginPage{
	padding: 100px 50px; 
	overflow: hidden;
}
.loginPageLeft{
	float: left;
	background: #fff;
	padding: 20px 20px 10px 20px;
	text-align: center;
	height: 400px;
	width: 300px;

}

.loginPageForm{
	float: left; 
	background: #e1e1e1; 
	height: 400px;
	padding: 100px 30px 30px 60px;
	width: 560px;

}
.loginPageForm form{
	margin: 0; padding: 0;
}
.loginPageForm form input{
	margin: 0 0 40px 0; 
	border-radius: 10px;
	padding: 10px 10px 10px 40px;
	border: none;
	font-size: 20px;
	width: 380px;
	color: #666;
	background: #fff url(../images/icon-lock.jpg) no-repeat 10px center;
}
.loginPageForm form .loginBtn{
	background: #ffcc33; color: #000; font-size: 24px;
	padding: 5px 20px;
	border: none;
	cursor: pointer;
	width: 280px;
	float: right;
	margin-right: 40px;
}

/* Register Page */
.registerPage{
	padding: 100px 50px; 
	overflow: hidden;
}
.registerPageLeft{
	float: left;
	background: #fff;
	padding: 40px 20px 10px 20px;
	text-align: center;
	height: 450px;
	width: 300px;

}
.registerPageForm{
	float: left;
	background: #e1e1e1; 
	height: 450px;
	padding: 40px 30px 30px 60px;
	width: 560px;
}
.callout1-add-order button,
.callout1-info-order button,
.callout-table button{
	float: right;
	color: #ffcc33;
	background: #000;
	border-color: #000;
	border-radius: 10px;
	padding: 5px;
}
.callout2-add-order h2{
	text-align: left !important;
	color: #000 !important;
}

.callout-table table {
  border-collapse: collapse;
  width: 100%;
}

.callout-table th, td {
  text-align: left;
  padding: 8px;
}

.callout-table tr:nth-child(even) {
	background-color: #f2f2f2;
}
}

.registerPageForm form{
	margin: 0; 
	padding: 0;
}
.registerPageForm form input{
	margin: 0 0 25px 0; 
	border-radius: 10px;
	padding: 10px 10px 10px 10px;
	border: none;
	font-size: 20px;
	width: 440px;
	color: #666;
	background: #fff;
	box-sizing: border-box;
}
.registerPageForm form input.reg_names{
	width: 45%; 
	float: left; 
	margin-right: 4%;
}
.registerPageForm form .registerBtn{
	background: #ffcc33; 
	color: #000; 
	font-size: 24px;
	padding: 5px 20px;
	border: none;
	cursor: pointer;
	width: 280px;
	float: right;
	margin-right: 30px;

}

.qty{
	width: 20px;
}

.table-border{
	border-top: 1px solid #fc3;
}

.margin-btw-callout{
	margin: 10px;
}

.colTwo{
	float: right;
	width: 36%;
	height: 100%;
	background: #333;
	margin-right: 10px;
	border-radius: 10px;
}

.callout-border-right{
	border: solid 3px #333;
	border-radius: 10px;
}

.callout-border-right h3{
	color: #fff;
	margin: 0; 
	padding: 10px 0; 
	font-size: 20px; 
	font-weight: bold; 
	text-align: center;
}
.callout-table{
	color: #fff;
	text-align: left;
}

.callout-table th{
	color: #666666;
}

.callout-table td,tr,th{
	padding: 10px;

}
.form-btn{
	margin: 0px;
	padding: 0px;
}

.form-btn button{
	background: #666666;
	border: 1px solid #666;
	border-radius: 5px;
	padding: 10px;
	width: 100%;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
}


/* Hamburger hidden for desktop */
#main{
	position: relative;
}
.hamburger{
	display: none;
	position: absolute;
	right: 10px;
	top: 165px;
	cursor: pointer;
	z-index: 5;
}
.bar1, .bar2, .bar3 {
	width: 35px;
	height: 5px;
	background-color: #333;
	margin: 6px 0;
	transition: 0.4s;
}
.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {
	opacity: 0;
}
.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}